body {
    background: #ccc;
    font-family: Verdana;
}

.photo {
    border: 1px solid #0f0f0f;
    border-radius: 50px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #505050;
}

#title,
.subtitle,
.post-title {
    color: #0f0f0f;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #0f0f0f;
    margin: 10px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 30px;
}

.contacts_list li a {
    color: blue;
}

.lista_nao-ordenada {
    padding-left: 15px;
}